Repository Vizzuality/fora, pull requests merged in 2022-11, with the labels that each got.

#55 Fixes/no data and others
  client/src/containers/cards/card/component.tsx
  client/src/containers/cards/component.tsx
  client/src/containers/filters/component.tsx
  client/src/containers/filters/list/component.tsx
  client/src/containers/filters/list/constants.tsx
  client/src/containers/filters/modals/more-filters/component.tsx
  client/src/containers/filters/modals/more-filters/footer/component.tsx
  client/src/containers/filters/modals/more-filters/footer/index.ts
  client/src/containers/filters/modals/more-filters/header/component.tsx
  client/src/containers/filters/modals/more-filters/header/index.ts
  client/src/containers/filters/modals/more-filters/index.ts
  client/src/containers/filters/modals/more-filters/list/capital-types/component.tsx
  client/src/containers/filters/modals/more-filters/list/capital-types/index.ts
  client/src/containers/filters/modals/more-filters/list/component.tsx
  client/src/containers/filters/modals/more-filters/list/funder-legal-status/component.tsx
  client/src/containers/filters/modals/more-filters/list/funder-legal-status/index.ts
  client/src/containers/filters/modals/more-filters/list/funder-types/component.tsx
  client/src/containers/filters/modals/more-filters/list/funder-types/index.ts
  client/src/containers/filters/modals/more-filters/list/index.ts
  client/src/containers/filters/modals/more-filters/list/project-legal-status/component.tsx
  client/src/containers/filters/modals/more-filters/list/project-legal-status/index.ts
  client/src/containers/filters/selected/area/component.tsx
  client/src/containers/filters/selected/demographic/component.tsx
  client/src/containers/filters/selected/geographic/component.tsx
  client/src/containers/filters/selected/index.ts
  client/src/containers/filters/selected/legal/component.tsx
  client/src/containers/filters/selected/more-filters/component.tsx
  client/src/containers/funders/header/component.tsx
  client/src/containers/funders/list/component.tsx
  client/src/containers/projects/list/component.tsx
Labels: ready-to-review

#58 Funders and projects small fixes
  client/src/containers/cards/card/component.tsx
  client/src/containers/funder/list/component.tsx
  client/src/containers/project/list/component.tsx
  client/src/containers/projects/list/component.tsx
  client/src/store/projects/index.ts
Labels: front-end

#57 feat: API endpoints for Widgets
  backend/app/controllers/api/v1/widget_slugs_controller.rb
  backend/app/controllers/api/v1/widgets_controller.rb
  backend/app/models/ability.rb
  backend/app/models/report_year.rb
  backend/app/models/widget.rb
  backend/app/models/widget_data.rb
  backend/app/models/widget_slug.rb
  backend/app/serializers/api/v1/enums/widget_slug_serializer.rb
  backend/app/serializers/api/v1/widget_data_serializer.rb
  backend/app/serializers/api/v1/widget_serializer.rb
  backend/app/services/widgets/queries/base.rb
  backend/app/services/widgets/queries/filters.rb
  backend/app/services/widgets/queries/summary.rb
  backend/config/locales/en.yml
  backend/config/routes/api.rb
  backend/db/migrate/20221107085055_refactor_widgets.rb
  backend/db/schema.rb
  backend/lib/tasks/widgets.rake
  backend/spec/factories/funders.rb
  backend/spec/factories/widget_data.rb
  backend/spec/factories/widgets.rb
  backend/spec/fixtures/snapshots/api/v1/get-widget-data.json
  backend/spec/fixtures/snapshots/api/v1/report_years.json
  backend/spec/fixtures/snapshots/api/v1/widget_slugs.json
  backend/spec/fixtures/snapshots/api/v1/widgets-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/widgets.json
  backend/spec/models/widget_data_spec.rb
  backend/spec/models/widget_spec.rb
  backend/spec/requests/api/v1/widget_slugs_spec.rb
  backend/spec/requests/api/v1/widgets_spec.rb
  backend/spec/services/widgets/queries/filters_spec.rb
  backend/spec/services/widgets/queries/summary_spec.rb
  backend/spec/support/shared_examples/api/with_not_found_error.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#59 Component > Table
  client/package.json
  client/src/components/table/component.stories.tsx
  client/src/components/table/component.tsx
  client/src/components/table/headers/sorted/component.tsx
  client/src/components/table/headers/sorted/index.ts
  client/src/components/table/index.ts
  client/src/components/table/types.ts
  client/src/containers/dashboards/component.tsx
  client/src/containers/dashboards/index.ts
  client/src/pages/dashboards/index.tsx
  client/yarn.lock
Labels: ready-to-review, front-end

#56 [FORA-75] Erase cookie policy
  client/src/components/cookies/component.tsx
  client/src/constants/nav.ts
  client/src/containers/cookies-policy/component.tsx
  client/src/containers/cookies-policy/index.ts
  client/src/pages/cookies-policy.tsx
Labels: front-end

#62 feat: Funded areas Widget
  backend/app/models/widget_slug.rb
  backend/app/services/widgets/queries/funded_areas.rb
  backend/config/locales/en.yml
  backend/spec/services/widgets/queries/funded_areas_spec.rb
  backend/spec/services/widgets/queries/summary_spec.rb
Labels: back-end

#61 feat: Download widget csv API
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/api/v1/subgeographics_controller.rb
  backend/app/controllers/api/v1/widgets_controller.rb
  backend/app/controllers/concerns/api/params_validations.rb
  backend/app/models/ability.rb
  backend/app/models/widget_data.rb
  backend/app/services/widgets/queries/base.rb
  backend/app/services/widgets/queries/funded_areas.rb
  backend/app/services/widgets/queries/summary.rb
  backend/config/locales/en.yml
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/get-widget-data.json
  backend/spec/models/widget_data_spec.rb
  backend/spec/requests/api/v1/subgeographics_spec.rb
  backend/spec/requests/api/v1/widgets_spec.rb
  backend/spec/services/widgets/queries/summary_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#63 refactoring: Removing investments from API
  backend/app/models/ability.rb
  backend/app/serializers/api/v1/funder_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/funders.json
  backend/spec/fixtures/snapshots/api/v1/get-funder.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/get-widget-data.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/fixtures/snapshots/api/v1/report_years.json
  backend/spec/requests/api/v1/funders_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#64 feat: Service used to compute funded subgeographics widget data
  backend/app/controllers/api/v1/widgets_controller.rb
  backend/app/models/widget_data.rb
  backend/app/models/widget_slug.rb
  backend/app/services/widgets/queries/base.rb
  backend/app/services/widgets/queries/funded_subgeographics.rb
  backend/config/locales/en.yml
  backend/spec/requests/api/v1/widgets_spec.rb
  backend/spec/services/widgets/queries/funded_subgeographics_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#65 feat: Widgets data for Bar charts at general report page
  backend/app/models/widget_slug.rb
  backend/app/services/widgets/queries/funded_capital_types.rb
  backend/app/services/widgets/queries/funded_demographics.rb
  backend/app/services/widgets/queries/funded_funder_types.rb
  backend/app/services/widgets/queries/funded_recipient_legal_statuses.rb
  backend/config/locales/en.yml
  backend/lib/tasks/widgets.rake
  backend/spec/fixtures/snapshots/api/v1/widget_slugs.json
  backend/spec/services/widgets/queries/funded_capital_types_spec.rb
  backend/spec/services/widgets/queries/funded_demographics_spec.rb
  backend/spec/services/widgets/queries/funded_funder_types_spec.rb
  backend/spec/services/widgets/queries/funded_recipient_legal_statuses_spec.rb
Labels: back-end

#71 Dashboards: meta
  client/src/containers/dashboards/general-report/funding/charts/component.tsx
  client/src/containers/dashboards/general-report/overview/component.tsx
  client/src/containers/dashboards/general-report/totals/charts/component.tsx
  client/src/containers/widget/toolbar/component.tsx
Labels: ready-to-review, front-end

#72 feat: Upload management via Backoffice
  backend/app/controllers/backoffice/uploads_controller.rb
  backend/app/controllers/concerns/backoffice/as_resource.rb
  backend/app/helpers/application_helper.rb
  backend/app/jobs/process_upload_job.rb
  backend/app/models/admin.rb
  backend/app/models/upload.rb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/app/views/backoffice/uploads/_form.html.erb
  backend/app/views/backoffice/uploads/index.html.erb
  backend/app/views/backoffice/uploads/new.html.erb
  backend/app/views/backoffice/uploads/show.html.erb
  backend/config/locales/en.yml
  backend/config/routes/backoffice.rb
  backend/db/migrate/20221116092559_create_uploads.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/uploads.rb
  backend/spec/fixtures/files/upload.zip
  backend/spec/jobs/process_upload_job_spec.rb
  backend/spec/models/recipient_spec.rb
  backend/spec/models/upload_spec.rb
  backend/spec/system/backoffice/admin_spec.rb
  backend/spec/system/backoffice/upload_spec.rb
  backend/spec/system_helper.rb
Labels: back-end

#67 [FORA-231] cookies erased
  client/src/containers/third-party/component.tsx
  client/src/lib/analytics/ga.ts
  client/src/pages/_app.tsx
Labels: front-end

#73 Style adjustments in funders & projects
  client/src/containers/cards/card/component.tsx
  client/src/containers/filters/list/constants.tsx
Labels: front-end
