Repository Vizzuality/fora, pull requests merged in 2022-10, with the labels that each got.

#20 [FORA-107] 404 page
  client/src/pages/404.tsx
Labels: front-end

#21 [Fora 108] 500 page
  client/src/pages/500.tsx
Labels: front-end

#22 [FORA-152][FORA-153] Rounded corners erased and hover added to header
  client/src/containers/header/component.tsx
  client/src/containers/home/how/component.tsx
  client/src/containers/home/invest/component.tsx
  client/src/containers/home/what/component.tsx
  client/src/containers/home/why/component.tsx
Labels: front-end

#24 feat: API for funder
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/models/ability.rb
  backend/app/serializers/api/v1/funder_serializer.rb
  backend/app/serializers/concerns/api/blob_serializer.rb
  backend/app/services/blobs/get_link.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/funders-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/funders-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/funders.json
  backend/spec/fixtures/snapshots/api/v1/get-funder-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-funder-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-funder.json
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/funders_spec.rb
  backend/spec/requests/api/v1/subgeographics_spec.rb
  backend/spec/services/blobs/get_link_spec.rb
  backend/spec/support/shared_examples/api/with_not_found_error.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#28 feat: (sub)geographics and enum filters for funder API
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/models/funder.rb
  backend/app/models/subgeographic.rb
  backend/app/serializers/api/v1/funder_serializer.rb
  backend/app/services/api/enum_filter.rb
  backend/db/migrate/20221006111547_create_subgeographic_hierarchies.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/funders.json
  backend/spec/fixtures/snapshots/api/v1/get-funder.json
  backend/spec/models/funder_spec.rb
  backend/spec/requests/api/v1/funders_spec.rb
  backend/spec/services/api/enum_filter_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#30 feat: Funder API fulltext filter and pagination
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/controllers/concerns/api/pagination.rb
  backend/app/models/funder.rb
  backend/spec/fixtures/snapshots/api/v1/funders-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/funders-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/funders.json
  backend/spec/requests/api/v1/funders_spec.rb
  backend/spec/support/shared_examples/api/pagination.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#8 [Fora-31][Fora-34] funder & project detail page
  client/package.json
  client/public/images/avatar.jpg
  client/src/components/button/component.tsx
  client/src/containers/action-map/list/component.tsx
  client/src/containers/cards/card/component.tsx
  client/src/containers/cards/card/constants.ts
  client/src/containers/cards/component.tsx
  client/src/containers/details/info-card/component.tsx
  client/src/containers/details/info-card/index.ts
  client/src/containers/funder/component.tsx
  client/src/containers/funder/index.ts
  client/src/containers/funder/list/component.tsx
  client/src/containers/funder/list/index.ts
  client/src/containers/funder/overview/component.tsx
  client/src/containers/funder/overview/constants.tsx
  client/src/containers/funder/overview/index.ts
  client/src/containers/header/component.tsx
  client/src/containers/project/component.tsx
  client/src/containers/project/index.ts
  client/src/containers/project/list/component.tsx
  client/src/containers/project/list/index.ts
  client/src/containers/project/overview/component.tsx
  client/src/containers/project/overview/index.ts
  client/src/containers/similars/component.tsx
  client/src/containers/similars/index.ts
  client/src/containers/similars/similars-item/component.tsx
  client/src/containers/similars/similars-item/index.ts
  client/src/hooks/funders/index.ts
  client/src/hooks/projects/index.ts
  client/src/pages/funders/[id].tsx
  client/src/pages/projects/[id].tsx
  client/src/svgs/ui/location.svg
  client/yarn.lock
Labels: wip, front-end

#32 Meta: title, description and images
  client/.env.default
  client/public/images/meta/action-map.jpg
  client/public/images/meta/dashboards.jpg
  client/public/images/meta/funders.jpg
  client/public/images/meta/home.jpg
  client/public/images/meta/projects.jpg
  client/src/constants/nav.ts
  client/src/containers/meta-tags/component.tsx
  client/src/pages/action-map.tsx
  client/src/pages/cookies-policy.tsx
  client/src/pages/dashboards/index.tsx
  client/src/pages/funders/[id].tsx
  client/src/pages/funders/index.tsx
  client/src/pages/index.tsx
  client/src/pages/privacy-policy.tsx
  client/src/pages/projects/[id].tsx
  client/src/pages/projects/index.tsx
  client/src/pages/terms-of-use.tsx
Labels: wip, front-end

#33 feat: Project and all related models
  backend/app/controllers/api/v1/funding_types_controller.rb
  backend/app/models/ability.rb
  backend/app/models/funder.rb
  backend/app/models/funding_type.rb
  backend/app/models/investment.rb
  backend/app/models/project.rb
  backend/app/models/recipient.rb
  backend/app/models/recipient_subgeographic.rb
  backend/app/serializers/api/v1/enums/funding_type_serializer.rb
  backend/config/locales/en.yml
  backend/config/routes/api.rb
  backend/db/migrate/20221011101739_create_recipients.rb
  backend/db/migrate/20221011103415_create_projects.rb
  backend/db/migrate/20221011103936_create_recipient_subgeographics.rb
  backend/db/migrate/20221011104905_create_investments.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/investments.rb
  backend/spec/factories/projects.rb
  backend/spec/factories/recipient_subgeographics.rb
  backend/spec/factories/recipients.rb
  backend/spec/fixtures/snapshots/api/v1/funding_types.json
  backend/spec/models/investment_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/models/recipient_spec.rb
  backend/spec/models/recipient_subgeographic_spec.rb
  backend/spec/requests/api/v1/funding_types_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#34 feat: Adding abbreviation column to subgeographics
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/models/funder.rb
  backend/app/models/subgeographic.rb
  backend/app/serializers/api/v1/subgeographic_serializer.rb
  backend/app/services/api/enum_filter.rb
  backend/app/services/importers/subgeographics/base.rb
  backend/app/services/importers/subgeographics/countries.rb
  backend/app/services/importers/subgeographics/national.rb
  backend/app/services/importers/subgeographics/regions.rb
  backend/app/services/importers/subgeographics/states.rb
  backend/db/migrate/20221012071532_add_abbreviation_to_subgeographics.rb
  backend/db/schema.rb
  backend/db/seeds/files/countries.geojson
  backend/db/seeds/files/national.geojson
  backend/db/seeds/files/regions.geojson
  backend/db/seeds/files/states.geojson
  backend/spec/factories/subgeographics.rb
  backend/spec/fixtures/files/dummy_countries.geojson
  backend/spec/fixtures/files/dummy_national.geojson
  backend/spec/fixtures/files/dummy_regions.geojson
  backend/spec/fixtures/files/dummy_states.geojson
  backend/spec/fixtures/snapshots/api/v1/funders-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-funder-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/subgeographics-geojson.json
  backend/spec/fixtures/snapshots/api/v1/subgeographics-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/subgeographics.json
  backend/spec/models/funder_spec.rb
  backend/spec/models/subgeographic_spec.rb
  backend/spec/requests/api/v1/funders_spec.rb
  backend/spec/services/api/enum_filter_spec.rb
  backend/spec/services/importers/subgeographics/countries_spec.rb
  backend/spec/services/importers/subgeographics/national_spec.rb
  backend/spec/services/importers/subgeographics/regions_spec.rb
  backend/spec/services/importers/subgeographics/states_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#35 feat: Sorting for Funder API endpoint
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/models/funder.rb
  backend/app/models/project.rb
  backend/app/services/api/sorting.rb
  backend/spec/models/funder_spec.rb
  backend/spec/requests/api/v1/funders_spec.rb
  backend/spec/services/api/sorting_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#37 feat: Subgeographics API supports only_active filter
  backend/app/controllers/api/v1/subgeographics_controller.rb
  backend/app/models/subgeographic.rb
  backend/spec/models/subgeographic_spec.rb
  backend/spec/requests/api/v1/subgeographics_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#40 fix: Support plural enum filters for singular attributes
  .github/workflows/backend_ci_cd.yml
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/services/api/enum_filter.rb
  backend/spec/fixtures/snapshots/api/v1/funders.json
  backend/spec/requests/api/v1/funders_spec.rb
  backend/spec/services/api/enum_filter_spec.rb
  backend/spec/services/api/sorting_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: bug, back-end

#39 feat: Initial implementation of Projects API
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/ability.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#41 Filters for Projects API
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/funder_serializer.rb
  backend/app/serializers/api/v1/investment_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/api/enum_filter.rb
  backend/spec/fixtures/snapshots/api/v1/funders.json
  backend/spec/fixtures/snapshots/api/v1/get-funder.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/funders_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/enum_filter_spec.rb
  backend/spec/services/api/sorting_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#43 feat: Adding funders/projects to projects/funders API
  backend/Gemfile.lock
  backend/app/controllers/api/v1/funders_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/serializers/api/v1/funder_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/funders.json
  backend/spec/fixtures/snapshots/api/v1/get-funder.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/swagger/v1/swagger.yaml
Labels: back-end

#42 feat: Admin model and login screen for Backoffice
  .github/workflows/backend_ci_cd.yml
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/application_controller.rb
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/models/admin.rb
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/backoffice/admins/index.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/app/views/layouts/devise.html.erb
  backend/config/initializers/devise.rb
  backend/config/initializers/simple_form.rb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/devise.en.yml
  backend/config/locales/en.yml
  backend/config/routes/backoffice.rb
  backend/config/tailwind.config.js
  backend/db/migrate/20221018084105_devise_create_admins.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/admins.rb
  backend/spec/models/admin_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/system/backoffice/auth_spec.rb
Labels: back-end

#46 feat: Backoffice contains list of Admins
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/controllers/concerns/backoffice/as_resource.rb
  backend/app/helpers/application_helper.rb
  backend/app/models/admin.rb
  backend/app/views/backoffice/admins/index.html.erb
  backend/app/views/backoffice/admins/show.html.erb
  backend/app/views/backoffice/base/_flash_messages.html.erb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/app/views/backoffice/base/_pagination.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/initializers/ransack.rb
  backend/config/locales/en.yml
  backend/config/tailwind.config.js
  backend/spec/support/shared_examples/backoffice/with_table_pagination.rb
  backend/spec/support/shared_examples/backoffice/with_table_sorting.rb
  backend/spec/system/backoffice/admin_spec.rb
  backend/spec/system/backoffice/auth_spec.rb
  backend/spec/system_helper.rb
Labels: back-end

#48 feat: Admins can be created/edited/deleted at backoffice
  backend/app/assets/images/arrow-left.svg
  backend/app/assets/images/menu.svg
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/controllers/concerns/backoffice/as_resource.rb
  backend/app/helpers/application_helper.rb
  backend/app/javascript/application.js
  backend/app/javascript/controllers/application.js
  backend/app/javascript/controllers/index.js
  backend/app/javascript/controllers/menu_controller.js
  backend/app/models/admin.rb
  backend/app/views/backoffice/admins/_form.html.erb
  backend/app/views/backoffice/admins/edit.html.erb
  backend/app/views/backoffice/admins/index.html.erb
  backend/app/views/backoffice/admins/new.html.erb
  backend/app/views/backoffice/admins/show.html.erb
  backend/app/views/backoffice/base/_breadcrumbs.html.erb
  backend/app/views/backoffice/base/_menu.html.erb
  backend/app/views/backoffice/base/_new_record.html.erb
  backend/app/views/backoffice/base/menu/_item.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/en.yml
  backend/spec/system/backoffice/admin_spec.rb
Labels: back-end

#50 feat: Projects API serializer have areas attribute
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#51 refactoring: Updated geojsons
  backend/db/seeds/files/national.geojson
  backend/db/seeds/files/regions.geojson
  backend/db/seeds/files/states.geojson
Labels: back-end

#52 feat: Widget related models
  backend/app/controllers/api/v1/report_pages_controller.rb
  backend/app/controllers/api/v1/report_years_controller.rb
  backend/app/controllers/api/v1/widget_types_controller.rb
  backend/app/models/ability.rb
  backend/app/models/report_page.rb
  backend/app/models/report_year.rb
  backend/app/models/widget.rb
  backend/app/models/widget_data.rb
  backend/app/models/widget_type.rb
  backend/app/serializers/api/v1/enums/report_page_serializer.rb
  backend/app/serializers/api/v1/enums/report_year_serializer.rb
  backend/app/serializers/api/v1/enums/widget_type_serializer.rb
  backend/config/initializers/inflections.rb
  backend/config/locales/en.yml
  backend/config/routes/api.rb
  backend/db/migrate/20221026090700_create_widgets.rb
  backend/db/migrate/20221026101935_create_widget_data.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/lib/tasks/widgets.rake
  backend/spec/factories/investments.rb
  backend/spec/factories/widget_data.rb
  backend/spec/factories/widgets.rb
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/report_pages.json
  backend/spec/fixtures/snapshots/api/v1/report_years.json
  backend/spec/fixtures/snapshots/api/v1/widget_types.json
  backend/spec/models/widget_data_spec.rb
  backend/spec/models/widget_spec.rb
  backend/spec/requests/api/v1/report_pages_spec.rb
  backend/spec/requests/api/v1/report_years_spec.rb
  backend/spec/requests/api/v1/widget_types_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end
