Repository Vizzuality/fora, pull requests merged in 2023-01, with the labels that each got.

#81 chore: update of gems
  backend/Gemfile.lock
Labels: back-end

#80 feat: Support forgotten password option at backoffice
  backend/.env.sample
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/models/admin.rb
  backend/app/views/admins/passwords/edit.html.erb
  backend/app/views/admins/passwords/new.html.erb
  backend/app/views/admins/sessions/new.html.erb
  backend/config/environments/development.rb
  backend/config/environments/production.rb
  backend/config/environments/staging.rb
  backend/config/initializers/devise.rb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/en.yml
  backend/db/migrate/20230102095451_add_reset_password_token_to_admins.rb
  backend/db/schema.rb
  backend/spec/system/backoffice/forgot_password_spec.rb
Labels: back-end

#82 refactoring: Widgets respects Investments privacy attribute
  backend/app/models/investment.rb
  backend/app/services/widgets/queries/funded_areas.rb
  backend/app/services/widgets/queries/funded_capital_types.rb
  backend/app/services/widgets/queries/funded_demographics.rb
  backend/app/services/widgets/queries/funded_funder_types.rb
  backend/app/services/widgets/queries/funded_recipient_legal_statuses.rb
  backend/app/services/widgets/queries/funded_subgeographics.rb
  backend/app/services/widgets/queries/summary.rb
  backend/app/services/widgets/queries/total_funders_capital_types.rb
  backend/app/services/widgets/queries/total_funders_demographics.rb
  backend/app/services/widgets/queries/total_projects_capital_types.rb
  backend/app/services/widgets/queries/total_projects_demographics.rb
  backend/app/services/widgets/queries/total_projects_funders_areas.rb
  backend/app/services/widgets/queries/total_projects_funders_subgeographics.rb
  backend/app/services/widgets/queries/total_projects_recipient_legal_statuses.rb
  backend/spec/requests/api/v1/widgets_spec.rb
  backend/spec/services/widgets/queries/funded_areas_spec.rb
  backend/spec/services/widgets/queries/funded_capital_types_spec.rb
  backend/spec/services/widgets/queries/funded_demographics_spec.rb
  backend/spec/services/widgets/queries/funded_funder_types_spec.rb
  backend/spec/services/widgets/queries/funded_recipient_legal_statuses_spec.rb
  backend/spec/services/widgets/queries/funded_subgeographics_spec.rb
  backend/spec/services/widgets/queries/summary_spec.rb
  backend/spec/services/widgets/queries/total_funders_capital_types_spec.rb
  backend/spec/services/widgets/queries/total_funders_demographics_spec.rb
  backend/spec/services/widgets/queries/total_projects_capital_types_spec.rb
  backend/spec/services/widgets/queries/total_projects_demographics_spec.rb
  backend/spec/services/widgets/queries/total_projects_funders_areas_spec.rb
  backend/spec/services/widgets/queries/total_projects_funders_subgeographics_spec.rb
  backend/spec/services/widgets/queries/total_projects_recipient_legal_statuses_spec.rb
Labels: back-end

#86 fix: Fixing several issues discovered during testing of import
  backend/app/models/funder.rb
  backend/app/services/importers/uploads/base.rb
  backend/app/services/importers/uploads/submodules/enums.rb
  backend/app/services/uploads/process_file.rb
  backend/config/locales/en.yml
  backend/db/migrate/20230113102423_make_primary_contact_data_optional.rb
  backend/db/schema.rb
  backend/spec/fixtures/files/upload_empty.zip
  backend/spec/fixtures/snapshots/api/v1/areas.json
  backend/spec/models/funder_spec.rb
  backend/spec/services/importers/uploads/funders_spec.rb
  backend/spec/services/importers/uploads/investments_spec.rb
  backend/spec/services/importers/uploads/submodules/enums_spec.rb
  backend/spec/services/uploads/process_file_spec.rb
Labels: back-end

#90 General report: multiple years. Loaders. No data for diagrams
  client/src/containers/dashboards/general-report/header/component.tsx
  client/src/containers/widget/types/diagram/component.tsx
  client/src/containers/widget/types/total/component.tsx
  client/src/hooks/widgets/index.ts
  client/src/lib/adapters/json-api-adapter.ts
  client/src/pages/dashboards/general-report.tsx
  client/src/types/dashboards.ts
Labels: ready-to-review, front-end

#89 fix: Imported images can be placed at extra folder inside zip file
  backend/app/services/uploads/process_file.rb
  backend/spec/fixtures/files/upload_with_data_in_folder.zip
  backend/spec/services/uploads/process_file_spec.rb
Labels: bug

#91 chore: update of redis version
  backend/Gemfile.lock
Labels: back-end

#92 feat: On-demand revalidation of static pages on frontend
  .github/workflows/backend_ci_cd.yml
  backend/.env.sample
  backend/Gemfile.lock
  backend/app/jobs/frontend/revalidate_static_pages_job.rb
  backend/app/jobs/process_upload_job.rb
  backend/app/services/frontend/revalidate_static_pages.rb
  backend/spec/jobs/frontend/revalidate_static_pages_job_spec.rb
  backend/spec/jobs/process_upload_job_spec.rb
  backend/spec/services/frontend/revalidate_static_pages_spec.rb
Labels: back-end
